@import "tailwindcss";

@layer base {
  :root {
    --background: 90 10% 94%;
    --foreground: 90 10% 18%;
    --card: 90 10% 99%;
    --card-foreground: 90 10% 18%;
    --primary: 90 10% 18%;
    --primary-foreground: 90 10% 99%;
    --secondary: 90 10% 90%;
    --secondary-foreground: 90 10% 18%;
    --muted: 90 10% 85%;
    --muted-foreground: 90 10% 40%;
    --accent: 90 10% 80%;
    --accent-foreground: 90 10% 18%;
    --border: 90 10% 80%;
    --radius: 0.2rem;
  }

  [data-theme='dark'] {
    --background: 90 10% 30%;
    --foreground: 90 10% 96%;
    --card: 90 10% 38%;
    --card-foreground: 90 10% 99%;
    --primary: 90 10% 99%;
    --primary-foreground: 90 10% 30%;
    --secondary: 90 10% 44%;
    --secondary-foreground: 90 10% 99%;
    --muted: 90 10% 50%;
    --muted-foreground: 90 10% 80%;
    --accent: 90 10% 54%;
    --accent-foreground: 90 10% 99%;
    --border: 90 10% 48%;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  }

  .font-playfair {
    font-family: "Playfair Display", Georgia, serif;
  }
}